{% extends 'base_main.html' %}

{% block login %}
<div align="center" class="large-offset-3 large-6 columns">
    <form action="/auth/login/" method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя</label>
        <input type="text" name="username" id="username">
        </br>
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password">
        {% if login_error %}
            <label class="error">{{ login_error }}</label>
        {% endif %}
        </br>
        <input class="btn btn-primary mb-2" type="submit" value="Войти">
    </form>
</div>
{% endblock %}